## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>

  <footer class="dark footer section">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 col-md-6 col-xs-12">
                <div class="widget">
                  <div class="widget-title">
                    <h4>About Witslearn</h4>
                    <hr>
                  </div>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took...</p>
                  <a href="#" class="btn btn-default">Read More</a>
                </div>
              </div>
              <div class="col-md-3 col-md-6 col-xs-12">
                <div class="widget">
                  <div class="widget-title">
                    <h4>Recent Tweets</h4>
                    <hr>
                  </div>
                  <div class="twitter-widget">
                    <ul class="latest-tweets">
                      <li>
                        <p><a href="#" title="">@Mark</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                          Integer lorem quam.</p>
                        <span>2 hours ago</span>
                      </li>
                      <li>
                        <p><a href="#" title=""></a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                          lorem quam.</p>
                        <span>2 hours ago</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-md-6 col-xs-12">
                <div class="widget">
                  <div class="widget-title">
                    <h4>Popular Courses</h4>
                    <hr>
                  </div>
                  <ul class="popular-courses">
                    <li>
                      <a href="single-course.html" title=""><img class="img-thumbnail"
                          src="https://dl.dropbox.com/s/eywmw95kay9rb8m/xservice_01.png.pagespeed.ic.2iuJZT3CaV.png" alt=""></a>
                    </li>
                    <li>
                      <a href="single-course.html" title=""><img class="img-thumbnail"
                          src="https://dl.dropbox.com/s/b2li1mxs38nq009/xservice_02.png.pagespeed.ic.c6RThoxSWC.png" alt=""></a>
                    </li>
                    <li>
                      <a href="single-course.html" title=""><img class="img-thumbnail"
                          src="https://dl.dropbox.com/s/yarmxjywy86vyld/xservice_03.png.pagespeed.ic.E_Ew4wn4ZP.png" alt=""></a>
                    </li>
                    <li>
                      <a href="single-course.html" title=""><img class="img-thumbnail"
                          src="https://dl.dropbox.com/s/yarmxjywy86vyld/xservice_03.png.pagespeed.ic.E_Ew4wn4ZP.png" alt=""></a>
                    </li>
                    <li>
                      <a href="single-course.html" title=""><img class="img-thumbnail"
                          src="https://dl.dropbox.com/s/yarmxjywy86vyld/xservice_03.png.pagespeed.ic.E_Ew4wn4ZP.png" alt=""></a>
                    </li>
                    <li>
                      <a href="single-course.html" title=""><img class="img-thumbnail"
                          src="https://dl.dropbox.com/s/yarmxjywy86vyld/xservice_03.png.pagespeed.ic.E_Ew4wn4ZP.png" alt=""></a>
                    </li>
                    <li>
                      <a href="single-course.html" title=""><img class="img-thumbnail"
                          src="https://dl.dropbox.com/s/yarmxjywy86vyld/xservice_03.png.pagespeed.ic.E_Ew4wn4ZP.png" alt=""></a>
                    </li>
                    <li>
                      <a href="single-course.html" title=""><img class="img-thumbnail"
                          src="https://dl.dropbox.com/s/yarmxjywy86vyld/xservice_03.png.pagespeed.ic.E_Ew4wn4ZP.png" alt=""></a>
                    </li>
                    <li>
                      <a href="single-course.html" title=""><img class="img-thumbnail"
                          src="https://dl.dropbox.com/s/yarmxjywy86vyld/xservice_03.png.pagespeed.ic.E_Ew4wn4ZP.png" alt=""></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-md-6 col-xs-12">
                <div class="widget">
                  <div class="widget-title">
                    <h4>Contact Details</h4>
                    <hr>
                  </div>
                  <ul class="contact-details">
                    <li><i class="fa fa-link"></i> <a href="#">www.yoursite.com</a></li>
                    <li><i class="fa fa-envelope"></i> <a href="mailto:support@witsmind.com">support@witsmind.com</a></li>
                    <li><i class="fa fa-phone"></i> +256 755 710958</li>
                    <li><i class="fa fa-fax"></i> +256 701 618576</li>
                    <li><i class="fa fa-home"></i> Kanjokya Street, Kanjokya Building, Kampala.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <section class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-6 text-left">
                <p><a target="_blank" href="https://www.templateshub.net">Witmind Company</a></p>
              </div>
              <div class="col-md-6 text-right">
                <ul class="list-inline">
                  <li><a href="https://www.openedx.com">Powered by OpenEdx</a></li>
                  <li><a href="https://witsmind.com">Privacy Policy</a></li>
                  <li><a href="https://witsmind.com">Sitemap</a></li>
                </ul>
              </div>
            </div>
          </div>
        </section>

